<launch>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find localization_rplidar_node)/maps/icra2019.yaml" respawn="false" />
  <!-- Run the lidar node -->
  <node name="rplidartest_node"          pkg="localization_rplidar_node"  type="rplidartest_node" output="screen">
  <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
  <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
  <!--param name="serial_baudrate"     type="int"    value="256000"--><!--A3 -->
  <param name="frame_id"            type="string" value="laser"/>
  <param name="inverted"            type="bool"   value="false"/>
  <param name="angle_compensate"    type="bool"   value="true"/>
  </node>

  <!-- Run the localization node -->
  <node pkg="localization_rplidar_node" type="localizationtest_node" name="localizationtest_node" respawn="false" output="screen"/>

  
</launch>


